@import "styles/color";
@import "styles/fonts";

.title {
  @extend .font--heading;
}

.date {
  @extend .font--body;
  font-style: italic;
  padding-top: 0;
}

.heading {
  @extend .font--heading;
}

.paragraph {
  @extend .font--body;
  margin-top: 1em;
}

.em {
  @extend .font--body;
  font-style: italic;
}

.strong {
  @extend .font--bold;
}

.code {
  @extend .font--mono;
}

.footer {
  @extend .font--body;
  margin: 1em 5ch 0;
  max-width: 80ch;
  border-top: 2px solid map-get($space, "twilight");
  text-align: right;
}
