// This is where all the colours used in the site are defined. No using colours
// not from this file.

// The "base" colours. These are used for everyday things in the app, like text
// colours and backgrounds.
.base {
  background-color: hsl(0, 0%, 22%);
  --color: hsl(0, 0%, 97%);
  color: var(--color);

  @media (prefers-color-scheme: light) {
    background-color: hsl(0, 0%, 100%);
    --color: hsl(0, 0%, 0%);
  }
}

// The "brand" colours. These are used for things directly associated with my
// personal brand (eg the gradient underneath the bar)
.brand {
  --primary: #{hsl(288, 100%, 70%)};
  --secondary: hsl(228, 100%, 70%);

  @media (prefers-color-scheme: light) {
    --primary: hsl(288, 100%, 64%);
    --secondary: hsl(228, 100%, 69%);
  }
}

// The "accent" colours. These are used for things that should be highlighted,
// or seen as more important. They are related to but separate from the brand
// colours.
.accent {
  --accent: hsl(288, 80%, 85%);

  @media (prefers-color-scheme: light) {
    --accent: hsl(288, 100%, 32%);
  }
}

// The "semantic" colours. These are used to convey meaning.
.error {
  color: hsl(340, 100%, 66%);

  @media (prefers-color-scheme: light) {
    color: hsl(340, 67%, 50%);
  }
}

.warning {
  color: hsl(46, 96%, 50%);

  @media (prefers-color-scheme: light) {
    color: hsl(46, 100%, 28%);
  }
}
