// This is where all the colours used in the site are defined. No using colours
// not from this file.

// The "space" colours. These are used as the base colours of the app, for
// things like backgrounds and text.
$space--hue: 220;
$space: (
  "starlight": hsl($space--hue, 5%, 95%),
  "shooting-star": hsl($space--hue, 5%, 70%),
  "twilight": hsl($space--hue, 15%, 30%),
  "night-sky": hsl($space--hue, 10%, 16%),
  "opaque": hsl($space--hue, 15%, 11%)
);

// The "semantic" colours. These are used to convey meaning.
$semantic: (
  "error": hsl(340, 67%, 50%),
  "warning": hsl(46, 96%, 50%)
);
