// This is where all of the fonts used in the site are defined. No using fonts
// not from this file.

// This is the main font we do everything in. Try to avoid touching this
// directly.
$font: Helvetica Neue, Helvetica, Arial, sans-serif;

// Utility classes to be extended. These will define all of the typography
// properties needed.

.font {
  font-family: $font;
  margin: 0;
  max-width: 90ch;

  letter-spacing: 0.05ch;

  &--body {
    @extend .font;
    font-weight: 300;
    line-height: 1.2;
    padding-top: 0.6em;
  }

  &--bold {
    @extend .font--body;
    font-weight: 500;
  }

  &--mono {
    @extend .font--body;
    font-family: "Andale Mono", monospace;
  }

  &--heading {
    @extend .font;
    font-weight: 500;
    padding-top: 1em;
  }
}
