@import "styles/breakpoints";
@import "styles/color";
@import "styles/fonts";

html,
body {
  @extend .base;
  padding: 0;
  margin: 0;
}

.page {
  @extend .outer-width;

  height: 100%;
  overflow-y: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main {
  @extend .inner-width;
  padding-top: 1rem;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
