@import "styles/breakpoints";
@import "styles/color";
@import "styles/fonts";

html,
body {
  padding: 0;
  margin: 0;
  background-color: map-get($space, "night-sky");
}

.page {
  @extend .outer-width;

  color: map-get($space, "starlight");
  overflow-y: visible;
}

.main {
  @extend .inner-width;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
