@import "styles/breakpoints";
@import "styles/color";
@import "styles/fonts";

html,
body {
  @extend .base;
  padding: 0;
  margin: 0;
}

.page {
  @extend .outer-width;
  padding-bottom: 1rem;

  overflow-y: visible;
}

.main {
  @extend .inner-width;
  padding-top: 1rem;
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
}
