@import "styles/color";

.main {
  color: map-get($space, "starlight");
}

.inner {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.big {
  font-size: 3em;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
