@import "styles/breakpoints";
@import "styles/color";
@import "styles/fonts";

.wrapper {
  @extend .base;
  @extend .outer-width;
}

.main {
  padding-top: env(safe-area-inset-top);
  @extend .inner-width;
}

.name {
  @extend .font--heading;
}

.bold {
  @extend .font--bold;
}

.band {
  @extend .brand;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  width: 100vw;
  height: 0.5rem;
  margin-top: 1rem;
}

.links {
  display: grid;
  grid-column-gap: 4ch;
  grid-template-columns: repeat(3, min-content);
}
