@import "styles/color";
@import "styles/fonts";

.heading {
  @extend .font--heading;
  color: map-get($semantic, "warning");
}

.body {
  @extend .font--bold;
}

.generic {
  @extend .font--body;
  color: map-get($space, "shooting-star");
  @media (prefers-color-scheme: light) {
    color: map-get($space, "twilight");
  }
}
