@import "styles/color";
@import "styles/fonts";

.heading {
  @extend .font--heading;
  color: map-get($semantic, "warning");
}

.body {
  @extend .font--bold;
  color: map-get($space, "starlight");
}

.generic {
  @extend .font--body;
  color: map-get($space, "shooting-star");
}
