@import "styles/fonts";
@import "styles/color";

.wrapper {
  align-self: center;
  width: 100%;
  max-width: 60ch;
}

.input {
  @extend .accent;
  @extend .font--body;
  width: 100%;

  // remove bad defaults
  font-size: inherit;
  background: none;
  color: inherit;

  padding: 0.5rem 1ch;

  border-radius: 1ch;

  transition: 0.2s ease border;
  border: 2px solid transparent;
  &:focus {
    border: 2px solid var(--accent);
    outline: none;
  }
}
