@import "styles/color";
@import "styles/fonts";

.main {
  padding: 0.5rem 2ch 1rem;
  height: min-content;
  display: grid;
  grid-template-areas: "name tag" "date tag";
  grid-template-columns: 60% 40%;
  grid-template-rows: 1em 1em;
  grid-row-gap: 0.6rem;
  cursor: pointer;
}

.main {
  border-bottom: 2px solid map-get($space, "twilight");

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0.5rem;
  }
}

@media (hover: hover) {
  .main {
    border-radius: 0.5rem;
    border-bottom: none;
    padding-bottom: 0.5rem;
  }
  .main:hover {
    background-color: map-get($space, "twilight");
  }
}

.name {
  grid-area: name;
  @extend .font--heading;
  padding: 0;
}

.date {
  grid-area: date;
  @extend .font--body;
  padding: 0;
  font-style: italic;
  font-size: 0.8em;
}

.tags {
  margin: auto 0;
  grid-area: tag;
  display: grid;
  perspective: 15rem;
}

.tag {
  @extend .font--body;
  transform: rotateX(var(--angle)) translateZ(1.5em);
  transition: 0.3s ease transform, 0.3s ease color;
  grid-column: 1;
  grid-row: 1;
  backface-visibility: hidden;

  color: map-get($space, "shooting-star");

  &0 {
    --angle: 0;
    color: map-get($space, "starlight");
  }
  &1 {
    --angle: 45deg;
  }
  &Neg1 {
    --angle: -45deg;
  }
  &2 {
    --angle: 90deg;
  }
  &Neg2 {
    --angle: -90deg;
    transition: none;
  }
  &Hidden {
    --angle: -180deg;
    transition: none;
  }
}
