@import "styles/color";
@import "styles/fonts";

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.heading {
  @extend .font--heading;
  @extend .error;
}

.body {
  @extend .font--bold;
}

.generic {
  @extend .font--body;
}
