@import "styles/fonts";
@import "styles/color";

.main {
  // make it look nice
  display: inline-flex;
  align-items: center;

  // stop the browser making it look not nice
  color: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
  padding: 0;
  text-decoration: none;

  // make it interactive
  cursor: pointer;
}

.icon {
  @extend .accent;
  color: var(--accent);
  margin-right: 1ch;
}

.inner {
  @extend .font--body;
  padding: 0;

  position: relative;
  text-decoration: underline;
}
